* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 1px;
}
.main {
  margin: auto;
}

header {
 width: 100%;
 padding: 12;
 padding-top: 10px;
}

.container-header {
  color: black;
  max-width: 1320px;
  font-size: 13px;
  border-bottom: 1px solid slategray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
 }

.discord {
  color: #989ca2;
  background-color: rgba(152, 156, 162, 0.15);
  border-color: rgba(152, 156, 162, 0.15);
  border-radius: 50rem;
  margin-left: 40px;
  line-height: 1.2;
  cursor: pointer;
  padding: 3px 10px;
}





:hover.discord {
  color: black;
}

.container-navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;
  height: 80px;
  max-width: 1320px;
  margin: auto;
}

.nav-bar {
  list-style: none;
  text-align: center;
  margin-right: 1rem;
  
}

.nav-bar li {
  display: inline-block;
  margin-right: 30px;
}

.nav-bar a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: #0d6efd;
}

.menu-img {
  padding: 5px 0px 5px 0px;
  margin-left: 15px;
}

.navButton {
  background-color: #3597ff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  margin-left: auto;
  display: inline-block;
}

.hero-main {
  background-color: #3597ff;
  display: block;
  height: 442px;
}

.hero-image {
  max-width: 1320px;
  margin: auto;
}

.hero {
  display: flex;
  align-items: center;
}

.hero > div {
  flex-basis: 50%;
}

.hero-main .first-image img {
  max-width: 87%;
  overflow: hidden;
}

h1 {
  line-height: 1.2;
}

.hero-text {
  max-width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5;
}

.hero-text h1 {
  color: white;
  font-weight: 300;
  font-size: 40px;
}

.bold {
  font-weight: 700;
}

.hero-text p {
  color: white;
  font-weight: 400;
  margin-top: 1rem;
  
}
